<div class="wrapper" [ngClass]="{'show': modalService.modalToggler |async}">
    <div *ngIf="modalService.modalData" class="container">
        <h3>
            {{modalService.modalData.heading}}
        </h3>
        <p [innerHTML]="modalService.modalData.message | safe"></p>
        <div>
            <button (click)="modalService.modalClose('first')">{{modalService.modalData.btnFirst}}</button>
            <button (click)="modalService.modalClose('second')">{{modalService.modalData.btnSecond}}</button>
            <button (click)="modalService.modalClose('third')">{{modalService.modalData.btnThird}}</button>
        </div>
    </div>
</div>
