.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
  width: 100vw;
  font-size: 1.3rem;

  .center-container {
    position: relative;
    background: #ffffff;
    width: 75%;
    max-width: 500px;
    -webkit-box-shadow: -40px 40px 100px 0px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -40px 40px 100px 0px rgba(0, 0, 0, 0.67);
    box-shadow: -40px 40px 100px 0px rgba(0, 0, 0, 0.67);

    a, i {
      transition: color 0.2s ease-in;
      cursor: pointer;
    }

    div.header {
      width: 100%;
      background-color: #363636;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 20px 10px;

      h2 {

        display: inline-block;
        vertical-align: middle;
        font-size: 1.4rem;
        font-weight: 400;
        color: white;
        text-align: left;
        margin-right: 5px;

        i {
          font-weight: 500;
          color: white;
          word-break: break-word;
        }

        i.disclaimer {
          display: block;
          font-size: 1rem;
          line-height: 1.3;
          margin-top: 0.5rem;
          font-weight: 400;
        }
      }


      h1 {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.4rem;
        font-weight: 400;
        color: white;
        text-align: left;
        margin-right: 5px;
        width: 75%;

        i {
          font-weight: 500;
          color: white;
          word-break: break-word;
        }

        i.disclaimer {
          font-size: 0.8rem;
          font-weight: 400;
        }
      }

      .authInfo {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 50px;

        a {
          margin: unset;
          color: #b9b9b9;
          font-size: 0.7rem;
        }

        a:hover {
          color: #9b9b9b;;
        }

        img {
          width: 50px;
          border-radius: 25px;
          filter: grayscale(100%);
        }
      }
    }

    form {
      display: flex;
      flex-flow: column;
      padding: 15px 15px 0 15px;
      justify-content: flex-start;

      * {
        font-weight: 500;
      }

      div {
        position: relative;
      }

      input {
        width: 70%;
        font-size: 1.2rem;
        line-height: 1.5rem;
        border: unset;
        border-bottom: 1px solid #787878;
        transition: border-bottom-color 0.2s ease-in;
        color: #787878;
      }

      input:focus {
        outline: none;
        border-bottom: 1px solid #9b9b9b;
      }

      label {
        color: #787878;
        font-size: 1rem;
      }

      input[type="email"] {
        margin-bottom: 0.7rem;
      }

      p {
        font-size: 1rem;
        display: inline;
        font-style: italic;

        span.unspecified-error {
          position: absolute;
          display: block;
          font-size: 0.9rem;
          top: -5px;
          right: -5px;
        }
      }


    }

    .content {
      display: inline-block;
      padding: 15px;

      span {
        display: inline-block;
        margin-top: 10px;
      }

      a {
        color: #787878;
        font-size: 1.2rem;
        font-weight: 500;
        margin: 10px 0;
        text-align: center;

        i {
          color: #787878;
        }
      }

      a:hover {
        i {
          color: #9b9b9b;
        }

        color: #9b9b9b;
      }

      a.disabled {
        color: #e4e4e4;
        cursor: default;
      }
    }


  }
}

@media (max-width: 450px) {
  input {
    min-width: unset !important;
    width: 100% !important;
  }
}
