<div class="container">
    <div *ngIf="user; else notRegistered" class="center-container">
        <div>
            <h1> You are logged in as <i>{{userName | async}}</i></h1>
            <span class="authInfo">
                <img alt="Photo" [src]="userPhoto | async">
                <a (click)="signOut()">SignOut</a>
            </span>
        </div>

        <span class="content">What would you like to do with your CV-form?
            <br/>
            <span>
                <a (click)="editProfile()">Edit ></a>
                <br/>
                <a  *ngIf="shareButtonToggler | async" (click)="viewProfile()">Share ></a>
            </span>
        </span>

    </div>
    <ng-template #notRegistered>
        <div class="center-container">
            <div>
                <h2> Hello! Please sign in to view or create your CV form.
                    <i class="disclaimer"><br/>*Currently only Google Authentication is
                        supported</i>
                </h2>
            </div>
            <form [formGroup]="credentials" (ngSubmit)="submitCredentials()">
                <input type="text" formControlName="email">
                <input type="password" formControlName="password">
                <button type="submit">submit</button>
            </form>
            <span class="content">
                <a (click)="signInOAuth()">Sign In With Google ></a>
            </span>
        </div>
    </ng-template>
</div>
