.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
  width: 100%;

  a {
    font-size: 24px;
    font-weight: 400;
    color: #b0b0b0;
    margin: 20px;
  }
  a:last-child {
    color: unset;
  }
}
