<div class="container">
    <div *ngIf="userData" class="editing-panel">
        <ng-scrollbar shown='hover' class='my-scrollbar'>
            <div
                 class="fieldGroup">
                <span>Header (name)</span>
                <input [(ngModel)]="userData.name">
            </div>
            <div class="fieldGroup">
                <span>Subheader (profession)</span>
                <input [(ngModel)]="userData.profession">
            </div>
            <div class="fieldGroup">
                <span>Photo url</span>
                <input [(ngModel)]="userData.photoURL">
            </div>
            <div *ngFor="let userField of userData.data; index as i">
                <span class="field-title">{{userField.groupName | titlecase}}</span>
                <div *ngIf="userField.groupData">
                    <div *ngFor="let row of userField.groupData; index as y">
                        <div (mouseover)="setActiveField($event)" (mouseleave)="removeActiveField()"
                             class="fieldGroup active-{{userData.data[i].groupData[y].title}}" *ngIf="userField.groupName !== 'social'">
                            <div>
                                <span>Title</span>
                                <input (input)="setActiveField(userData.data[i].groupData[y].title)"
                                       [(ngModel)]="userData.data[i].groupData[y].title">
                            </div>
                            <div>
                                <span>Description</span>
                                <input (input)="setActiveField(userData.data[i].groupData[y].description)"
                                       [(ngModel)]="userData.data[i].groupData[y].description"/>
                            </div>
                        </div>
                        <div (mouseover)="setActiveField($event)" (mouseleave)="removeActiveField()" class="fieldGroup active-{{row.link}}"
                             *ngIf="userField.groupName === 'social'">
                            <span>Name</span>
                            <input (input)="setActiveField(userData.data[i].groupData[y].name)" [(ngModel)]="userData.data[i].groupData[y].name"><br/>
                            <span>Link</span>
                            <input (input)="setActiveField(userData.data[i].groupData[y].link)" [(ngModel)]="userData.data[i].groupData[y].link"/>
                        </div>
                    </div>
                </div>
                <div *ngIf="!userField.groupData">
                    <textarea [name]="userField.groupName" (change)="setFieldData($event.target, i)">{{userData.data[i].copy}}
                    </textarea>
                </div>
            </div>
            <div class="confirm">
                <button (click)="saveEditedData()">Save Changes</button>
                <span *ngIf="timer|async">{{updateConfirm}}</span>
            </div>
        </ng-scrollbar>
    </div>
    <div class="preview-panel">
        <app-user [userDataInput]="userData"></app-user>
    </div>
    <button (click)="signOut()" class="logout">LOG OUT</button>
</div>

