<div class="container">
    <div *ngIf="userData">
        <h3>User information</h3>
        <ng-scrollbar shown='hover' class='my-scrollbar editing-panel'>
            <div class="fieldGroup">
                <span>Header (name)</span>
                <input [(ngModel)]="userData.name">
            </div>
            <div class="fieldGroup">
                <span>Subheader (profession)</span>
                <input [(ngModel)]="userData.profession">
            </div>
            <div class="fieldGroup">
                <span>Photo url</span>
                <input [(ngModel)]="userData.photoURL">
            </div>
            <div *ngFor="let userField of userData.data; index as i">
                <span class="field-title">{{userField.groupName | titlecase}}</span>
                <div *ngIf="userField.groupData[0].title">
                    <div *ngFor="let row of userField.groupData; index as y">
                        <div (mouseover)="setActiveField($event)" (mouseleave)="removeActiveField()"
                             class="fieldGroup active-{{userData.data[i].groupData[y].title}}"
                             *ngIf="userField.groupName !== 'social'">
                            <div>
                                <span>Title</span>
                                <input (input)="setActiveField(userData.data[i].groupData[y].title)"
                                       [(ngModel)]="userData.data[i].groupData[y].title">
                            </div>
                            <div>
                                <span>Description</span>
                                <input (input)="setActiveField(userData.data[i].groupData[y].description)"
                                       [(ngModel)]="userData.data[i].groupData[y].description"/>
                            </div>
                        </div>
                        <div (mouseover)="setActiveField($event)" (mouseleave)="removeActiveField()"
                             class="fieldGroup active-{{row.link}}"
                             *ngIf="userField.groupName === 'social'">
                            <span>Name</span>
                            <input (input)="setActiveField(userData.data[i].groupData[y].title)"
                                   [(ngModel)]="userData.data[i].groupData[y].title"><br/>
                            <span>Link</span>
                            <input (input)="setActiveField(userData.data[i].groupData[y].link)"
                                   [(ngModel)]="userData.data[i].groupData[y].link"/>
                        </div>
                    </div>
                </div>
                <div *ngIf="!userField.groupData[0].title">
                    <textarea [name]="userField.groupName"
                              (change)="setFieldData($event.target, i)">{{userData.data[i].groupData}}
                    </textarea>
                </div>
            </div>
            <div class="confirm">
                <button (click)="saveEditedData()" #saveButton>Save Changes</button>
                <span *ngIf="timer|async">{{updateConfirm}}</span>
            </div>
        </ng-scrollbar>
    </div>
    <div *ngIf="desktopView | async" class="preview-panel">
        <app-user-view [inputUserData]="userData"></app-user-view>
    </div>
</div>

