.container {
  display: flex;
  justify-content: center;
  overflow: auto;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  width: 700px;
  height: 876px;
  background-color: #f9f9f9;
  margin: 50px;
  margin-bottom: 0;
  display: flex;
  -webkit-box-shadow: -40px 40px 100px 0px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -40px 40px 100px 0px rgba(0, 0, 0, 0.67);
  box-shadow: -40px 40px 100px 0px rgba(0, 0, 0, 0.67)
}

.aside {
  width: 260px;
  height: 100%;
  background-color: #e5e6e8;
  display: flex;
  flex-flow: column;
  padding: 0 30px;
  justify-content: space-between;

  .photo {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

  .firstAsideTable {
    margin-top: -15px;
}

  ul {
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    line-height: 30px;
    cursor: pointer;
}
}

.title {
  background-color: #363636;
  width: 440px;
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;

  * {
    text-transform: uppercase;
    width: 350px;
    color: #fff;
    border: 3px solid #fff;
    text-align: center;
    line-height: 2.5;
}

  h1 {
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 0.16em;
    color: #fff;
    border-bottom: 2px solid #fff;
}

  .no-welcome {
    cursor: pointer;
}

  h2 {
    font-size: 14px;
    letter-spacing: 0.1em;
    border-top: none;
    font-weight: normal;
}
}

.title:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #363636 transparent transparent;
  position: absolute;
  left: -20px;
  top: 90px;
}

.social {
  width: 260px;
  margin-left: -30px;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 45px;
  position: relative;

  span {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

  i {
    font-size: 40px;
}

  a {
    margin-left: 15px;
    font-size: 15px;
    text-decoration: none;
}

  i, a {
    color: #f9f9f9;
}
}

.social:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0;
  border-color: #e5e6e8 transparent transparent;
  position: absolute;
  left: 120px;
  top: 0;
}

.info {
  padding: 0 25px;
  height: 677px;
  overflow: auto;
  background: #f9f9f9;
  z-index: 3;
  position: relative;
}

.about {
  padding-right: 10px;
}

.my-scrollbar {
  --scrollbar-padding: 8px 0 8px 10px;
//--scrollbar-color: transparent;
//--scrollbar-container-color: transparent;
//--scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
//--scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);
//--scrollbar-border-radius: 4px;
//--scrollbar-size: 6px;
//--scroll-view-margin: 0;
//--scroll-view-color: transparent;
}

.active {
  position: relative;
}

.active:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -5px;
  width: 210px;
  height: 100%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #e5e6e8;
  border-radius: 2px;
  z-index: 2;
}

//responsive styles

.container-m {
  font-size: 10px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  min-width: 320px;
  background-color: #fff;
  font-weight: 400;
  height: 100%;
  width: 100%;
  position: relative;

  .center-container {
    box-shadow: none;
}

  header {
    position: fixed;
    top: 0;
    left: 0;
    height: 14em;
    z-index: 1;
    width: 100%;
}

  .title-m {
    display: flex;
    flex-flow: row;
    background-color: #e5e6e8;
    width: 100%;
    height: 11em;

    app-photo::ng-deep {
      width: 33.3333%;
      padding: 1.5em;
      text-align: center;

      img {
        max-width: 8em;
    }
  }

    div {
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-transform: uppercase;

      h1 {
        letter-spacing: 0.1rem;
        font-size: 1.5em;
        font-weight: bold;
    }

      h2 {
        font-size: 1.1em;
        letter-spacing: 0.04rem;
    }
  }
}

  nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 3em;
    background-color: #363636;

    span {
      color: #fff;
      font-size: 1.3em;
      text-transform: uppercase;
      letter-spacing: 0.16rem;
      display: inline-block;
      width: 100%;
      text-align: center;
      line-height: 0.8em;
  }

    span:nth-child(2) {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
  }
}

  .info-m {
    position: absolute;
    width: 100%;
    top: 14em;
    padding: 0 25px 20px 25px;
    margin-bottom: 3.5em;
    background-color: #fff;

    app-info-welcome::ng-deep {
      p {
        font-size: 1.3em;
        letter-spacing: -0.005rem;
    }
  }

    app-info-about::ng-deep {
      p {
        font-size: 1.3em;
        letter-spacing: -0.005rem;
    }
  }

    #Skills::ng-deep {
      p {
        font-size: 1.2em;
    }
  }

    #Experience::ng-deep, #Education::ng-deep {
      ul {
        display: none;
    }

      div {
        font-size: 13px !important;
    }

      span:first-child {
        font-size: 14px !important;
    }
  }

    app-aside-table::ng-deep {
      display: block;
      margin-top: 20px;

      thead {
        display: none;
    }
      td {
        font-size: 1.3em;
    }
      td:first-child {
        width: 33.3333%;
    }
  }
}

  .social-m {
    width: 100%;
    height: 3.5em;
    background-color: #363636;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;

    span {
      display: flex;
      align-items: center;

      i, a {
        color: #fff;
        font-size: 1.2em;
        text-decoration: none;
        line-height: 1;
    }

      i {
        font-size: 2em;
        margin-right: 0.3em;
    }
  }
}
}

.center-container {
  align-self: center;
  position: relative;
  background: #e2e2e2;
  -webkit-box-shadow: -40px 40px 100px 0px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -40px 40px 100px 0px rgba(0, 0, 0, 0.67);
  box-shadow: -40px 40px 100px 0px rgba(0, 0, 0, 0.67);

  a {
    transition: color 0.2s ease-in;
    cursor: pointer;
    text-decoration: none;
}

  div {
    width: 100%;
    background-color: #363636;
    text-align: center;

    h1 {
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      font-weight: 400;
      padding: 30px;
      color: white;
      text-align: left;

      i {
        font-weight: 500;
        color: white;
    }

      i.disclaimer {
        font-size: 12px;
        font-weight: 400;
    }
  }
}

  .content {
    display: inline-block;
    padding: 15px;

    span {
      display: inline-block;
      margin-top: 10px;
  }

    a {
      color: #787878;
      font-size: 17px;
      font-weight: 500;
      margin: 10px 0;
      text-align: center;
  }

    a:hover {
      color: #9b9b9b;
  }
}
}

.home {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  color: #363636;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.home:hover {
  opacity: 1;
}

@media (max-width: 700px) {
.container {
  background-image: unset;
  background-color: #fff;
}
}

@media (max-width: 700px) and (min-width: 550px) {
.container-m {
  font-size: 14px;
}
}

@media (max-width: 549px) and (min-width: 400px) {
.container-m {
  font-size: 12px;
}
}

@media (max-width: 700px) and (orientation: landscape)  {
.container-m footer.social-m {
  position: absolute;
  bottom: -3.5em;
  left: 0;
}
.container-m header {
  position: absolute;
  top: 0;
  left: 0;
}
}


